package generatedfiles

type Person struct {
	Name     string
	Lastname string
	Age      int
}


func something() {
    jason := Person{
        Name:     {{ .Name }},
		Lastname: {{ .Lastname }},
		Age:      {{ .Age }},
    }
}


